@model _2014139821_ENT.Departamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvinciaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbigeoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbigeoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DepartamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
