@model IEnumerable<_2014139821_ENT.Evaluacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentroAtencion.CentroAtencionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajador.TrabajadorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venta.VentaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VentaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentroAtencion.CentroAtencionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajador.TrabajadorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venta.VentaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VentaId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EvaluacionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EvaluacionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EvaluacionId })
        </td>
    </tr>
}

</table>
