@model _2014139821_ENT.Distrito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Distrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provincia.CadenaUbigeo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.CadenaUbigeo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UbigeoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UbigeoId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DistritoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
